.upload-wrapper {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 60px 0px; 
  box-sizing: border-box;
}

.upload-container {
  border: 2px dashed #ccc;
  border-radius: 12px;
  width: 100%; 
  height: 180px;
  background-color: var(--bg-colour-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 0; 
}

.upload-container:hover {
  background-color: var(--primary-hover);
}

.upload-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.file-info {
  position: absolute;
  bottom: 20px; 
  left: 5px; 
  font-size: 0.9rem;
  color: #555;
  text-align: left;
  max-width: 65%;
}

.upload-button {
  position: absolute !important;
  bottom: 20px;
  right: 5px; 
  background-color: var(--accent-sage) !important;
  border: 1px solid var(--text-color-inverted) !important;
  color: var(--text-color-const-black) !important;
  border-radius: 18px !important;
  transition: background-color 0.4s !important;
}

.upload-button:hover {
  background-color: var(--primary-hover) !important;
}