.upload-wrapper {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 60px 0px; 
  box-sizing: border-box;
}

.upload-container {
  border: 2px dashed #ccc;
  border-radius: 12px;
  width: 100%; 
  height: 180px;
  background-color: var(--bg-colour-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 0; 
}

.upload-container:hover {
  background-color: var(--primary-hover);
}

.upload-icon {
  width: 75px;
  height: 75px;
  margin-bottom: 8px;
}

.upload-gif {
  height: 75%;
  margin-bottom: 8px;
}


/*
.uploading {
  animation: spin 1s linear infinite;
}
*/

/* Keyframes */
/*
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
*/




.file-info {
  position: absolute;
  bottom: 10px; 
  left: 5px; 
  color: var(--text-color) !important;
  text-align: left;
  max-width: 65%;

    font-size: clamp(
    0.75em,
    calc(var(--font-scale) * 1em),
    1em
  ) !important;
}

.upload-button {
  position: absolute !important;
  bottom: 10px;
  right: 5px; 
  background-color: var(--accent-sage) !important;
  border: 1px solid var(--text-color-inverted) !important;
  color: var(--text-color-const-black) !important;
  border-radius: 18px !important;
  transition: background-color 0.4s !important;
    font-size: clamp(
    0.5em,
    calc(var(--font-scale) * 1em),
    0.9em
  ) !important;
  
}

.upload-button:hover {
  background-color: var(--primary-hover) !important;
}


.upload-button-loading {
  background-color: var(--bg-colour-light) !important; /* Use a color from your theme or a light/distinctive color */
  color: var(--text-color) !important;
  opacity: 50%;
  pointer-events: none;
  box-shadow: none !important;
}
